.header-container{
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background: #e8e8e8;
    
}

.header-cart{
    margin-left: auto;
    padding-right: var(--spacing-small);
    cursor: pointer;
    font-weight: bold;
}